<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
            <h3>Recent Activity: </h3>
            <hr>
            {% for message in roomMessages %}
            <div> 
                <mall><small><i>@{{ message.user.username }}</i> replied to room "<b>{{ message.room.name }}</b>"</small></p>
                <p>{{ message.body }}</p>
                <small>{{ message.created|timesince }} ago</small>
            </div>
            <hr>
            {% endfor %}
            {% if not roomMessages %}
            <p>No recent activity.</p>
            {% endif %}
    </div>
</body>
</html>