<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}
    <!-- {{ block.super }} -->
    <h1>This is the home view</h1>
    <p>Welcome to the home page!</p>
    <p>Here you can find various rooms and their details.</p>

    <a href="{% url 'create-room' %}">Create Room</a>

    {% for room in rooms %}
        <div>
            <p>@{{ room.host.username }}</p>
            <a href="{% url 'room' room.id %}">{{ room.name }}</a>
            <br><br>
            <small>{{ room.topic.name }}</small>
            <p>
                <a href="{% url 'update-room' room.id %}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
            </p>
            <hr>
        </div>
    {% endfor %}
    {% endblock %}
</body>
</html>